body{
    margin:0%;
    background-color: #e8f6ff;
    padding-top: 0.5px;
}



header{
    background-color: #4da4da;
    display: flex;
    justify-content: center;
    height: 100px;
    border-end-end-radius: 30%;
    border-end-start-radius: 30%;
    margin: 0%;
    position: relative;
    z-index: 1;
}

h1 {
    color:#112a58 ;
    font-size: 450%;
    margin-top: 10px;
}

.icone{
    height: 78px;
    margin-top: 5px;
    margin-right: 20px;
}

.seccao{
    background-color:#00bdd4 ;
    justify-content: space-between;
    height: 58px;
    margin-top: -1%;
    margin-left: 16%;
    margin-right: 16%;
    border-bottom-left-radius: 500cqw;
    border-bottom-right-radius: 500cqmax;
}

ul{
    justify-content: space-around;
    display: flex;
    margin-top: 0%;
    font-size: 24px;
}

.c{
    text-decoration: none;
    color: #182393;
    font-weight: bold; 
}

.c:hover{
    color: #e8f6ff;
}

.inicio{
    position: fixed;
    width: 100%;
    z-index: 1;
}

main{
    margin-top: 12%;
}

.pr{
    display: flex;
    justify-content: space-around;
}

h4{
    color: #182393;
    font-size: 23px;
}

.dia{
    background-color: #4da4da;
    display: flex;
    width: 680px;
    border-radius: 30px;
    align-items: center;
}

.linha{
    background-color: #e8f6ff;
    width: 4px;
    margin-left: 20px;
    margin-right: 20px;
    height: 150px;
}

h3{
    color: #112a58;
    font-size: 25px;
    margin-left: 10px;
}

.t{
    display: flex;
    justify-content: space-around;
}

.por{
    background-color: #112a58;
    color: #00bdd4;
    border-radius: 20px;
    height: 50px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.por:hover{
    background-color: #00bdd4;
    color: #112a58;
}

.din{
    background-color: #00bdd4;
    color: #112a58;
    border-radius: 20px;
    height: 50px;
    width: 160px;
    display: flex;
    align-items: center;
    justify-content: center;
}